<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar value="0.5"></ion-progress-bar>
  <div class="testing">

    <ion-card class="question">
      <ion-card-header>
        <ion-card-title class="question__title">Card Title</ion-card-title>
      </ion-card-header>

      <ion-card-content class="question__description">
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <div class="buttons">
      <ion-button color="light" class="testing__button">Quie1</ion-button>
      <ion-button color="light" class="testing__button">Quie1</ion-button>
      <ion-button color="light" class="testing__button">Quie1</ion-button>
      <ion-button color="light" class="testing__button">Quie1</ion-button>
    </div>

    <ion-button
      color="success"
      class="testing__help-button">
      50/50 (3)
    </ion-button>
    
  </div>
</ion-content>
