.testing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &__button {
    width: 100%;
    margin: 10px 0;
  }

  &__help-button {
    width: 50%;
    margin-top: 30px;
  }

}

.question {
  width: 100%;
  margin: 30px 0;

  &__title {
    font-size: 24px;
    text-align: center;
  }

  &__description {
    font-size: 16px;
  }
}

.buttons {
  width: 100%;
}
