.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-align: center;
    margin-top: 50px;
  }
}

.user {
  &__name {
    font-size: 20px;
  }

  &__points {
    font-size: 20px;
    font-weight: 600;
  }
}
