.start {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    margin-bottom: 40px;
  }

  &__input {
    border-bottom: 1px solid;
    max-height: 30px;
    width: 80%;
  }

  &__button {
    margin-top: 30px;
  }
}
