<ion-header>
  <ion-toolbar>
      <ion-button
        class="back-button"
        color="danger"
        (click)="exitFromQuiz()">
        Exit
      </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-chip  class="timer">
    <ion-label color="danger">{{time}}</ion-label>
  </ion-chip>
  <ion-title></ion-title>
  <ion-slides (ionSlideDidChange)="onChangeSlide()">
    <ion-slide *ngFor="let question of questions$ | async">
      <question
        (chooseAnswer)="onChooseAnswer($event)"
        [text]="question.question"
        [options]="question.options">
      </question>
    </ion-slide>
  </ion-slides>
  <div class="button-wrapper">
    <ion-button
      [disabled]="!helpCounter"
      (click)="getCorrectQuestion()"
      color="success"
      class="help-button">
      help ({{ helpCounter }})
    </ion-button>
  </div>
</ion-content>
